* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/

.d-flex{
    display: flex;
}

.justify-end{
    justify-content: end;
}
.justify-between{
    justify-content: space-between;
}

.ground {
    background-color: #000000;
}



.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.col-2 {
    width: calc(100% / 14 * 2);
}

.col-3 {
    width: calc(100% / 14 * 3);
}

.col-8 {
    width: calc(100% / 14 * 8);
}



/*header*/


header{
    height: 100px;
    background-color: #000000;
}

.menu{
    margin: 1rem 0.5rem ;
    color: white;
    
   
}
.menu> .speaker,.arrow{
    border-radius: 10px;
    height: 30px ;
    padding: 0.5rem;
}

.speaker{
    background-color: #494949;
}

.arrow{
    background-color: #494949;
    margin-left: 0.5rem;
}


/*main*/
#site_main .container {
    height: calc(100vh - 120px);
    overflow-y: auto;
}

#site_main .row {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#site_main [class^="col-"] {
    padding: .5rem;
}

#site_main .card {
    height: 145px;
    background-image: url(https://picsum.photos/seed/56/200/300);
    background-position: center;
    background-size: cover;
    position: relative;
}

#site_main .address {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.7);
    color: white;
    padding: .25rem;
}