* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities*/

.d-flex{
    display: flex;
}


main {
    background-color: black;
}



.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-end {
    justify-content: flex-end;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/


header{
    height: 100px;
    background-color: #000000;
}

.menu{
    margin: 1rem 0.5rem ;
    color: white;
    
   
}
.menu> .speaker,.arrow{
    border-radius: 10px;
    height: 30px ;
    padding: 0.5rem;
}

.speaker{
    background-color: #494949;
}

.arrow{
    background-color: #494949;
    margin-left: 0.5rem;
}


/*main*/
.container{
    width: 80%;
    margin: auto;
    padding: 2rem 0.5rem;
    
}

.row{
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
    height: 80vh;
    overflow: auto;
}

.address{
    position: relative;
}

img{
    padding: 0.2rem 0;
}
img+div{
    position: absolute;
    bottom: 0.7rem;
    color: white;
    background-color: rgba(104, 104, 104, 0.657);
    padding: 0.3rem;
    font-size: small;
}

/*footer*/

footer{
    background-color: #222222;
    color: white;
}
.footer_container{
    justify-content: space-between;
    align-content: center;
}
.f_section{
    align-items: center;
}
.f_icon{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 1rem;
}
.f_icon>i{
    padding-bottom: 1.3rem;
}
.fa-angle-up{
    padding-left: 5px;
    padding-right: 1.5rem;
}
.f_section_3{
    height: 87.8px;
    width: 10%;
    background-color: #4b4b4a;
    color: red;
    justify-content: center;
    align-items: center;
}

